<html>

<head>
  <title>Hello world</title>
</head>

<body>
  <div id="root">
    <%- content %>
  </div>
  <script>
    window.__STATE__ = <%- state %>
    console.log(<%- state %>)
  </script>
  <script src="bundle.js"></script>
</body>

</html>